// bower:scss
@import "../bower_components/bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

a {
    color: $text-color;
}

body {
    padding-bottom: $navbar-height;
}

img {
    max-width: 100%;
}

.navbar-fixed-bottom .navbar-right {
    padding-right: 3rem;
}

.navbar-right > li > a {
    padding-left: $padding-small-vertical;
    padding-right: $padding-small-vertical;
    padding-top: (2 * $padding-small-vertical);
}

a.svg-icon > .on,
a:hover.svg-icon > .off {
    display: none;
}

a.svg-icon > .off,
a:hover.svg-icon > .on {
    display: inline;
}

a.svg-icon {
    max-height: 1rem;
}

a.svg-icon img {
    height: 2rem;
}

#comic_header, #comic {
    margin-bottom: 1rem;
}

#comic_footer {
    margin-bottom: 4rem;
}

#license > a > img {
    opacity: 0.6;
}

#license > a:hover > img {
    opacity: 1;
}

#menu_archive {
    border: none;
    box-shadow: none;
    margin-left: 10%;
    width: 90%;
}

#menu_archive h4 {
    margin: 0;
}

#menu_archive .btn, #menu_archive .btn-group, #menu_archive .btn-group-vertical {
    width: 100%;
}

#menu_archive .btn-group, #menu_archive .btn-group-vertical {
    margin-bottom: 1px;
}

#menu_archive .btn-group .btn {
    background-color: #f8f8f8;
}

#menu_archive .panel-body {
    padding: 0;
}

#search_form input {
    width: 10rem;
}
