body {
    padding: 1% 10%;
}

a, a:hover {
    color: #333;
    font-weight: bold;
}

a .hover-show, a:hover .hover-hide {
    display: none;
}

a .hover-hide, a:hover .hover-show {
    display: inline;
}

a.btn {
    font-weight: normal;
}

#content {
    display: block;
    float: left;
    width: 40%;
}

#content img {
    max-width: 100%;
}

.alert img {
    vertical-align: middle;
}

label {
    float: left;
    width: 30%;
}

p {
    clear: both;
    text-align: justify;
}

#sidebar-left {
    float: left;
    margin-right: 2%;
    text-align: center;
}
