<!DOCTYPE html>
<html>
<head lang="de">
    <meta charset="UTF-8">
    <title>{{ title }}</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.2/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/style.css"/>
</head>
<body>
<div id="sidebar-left">
    <h3><a href="//fonflatter.de">
        <img alt="header" class="hover-hide" src="/img/header.jpg">
        <img alt="header" class="hover-show" src="/img/header_over.jpg">
        <br>fonflatter.de
    </a></h3>
</div>
<div id="content">
    <h2>{{ title }}</h2>
    {% block content %}{{ content }}{% endblock %}
</div>
</body>
</html>
